/*! VERSION MOBILE-FIRST => MEDIAQUERIES VERSION TABLETTES & DESKTOP EN BAS DE FICHIER*/

/** CSS GLOBAL PAGE */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    font-family: 'Nunito', sans-serif;
    background: #f1f5f8;
    max-height: 100vh;
}

/** TAGS */

main {
    width: 100%;
}

h1 {
    font: normal 700 24px/113.4% 'Nunito Sans';
    color: #000000;
}

h2 {
    font: normal 700 30px/43px 'Nunito Sans';
    color: #000000;
    padding: 50px 0px 20px 16px;
}

h3 {
    font: normal 700 24px/113.4% 'Nunito Sans';
    color: #cf3034;
}

h4 {
    font: normal 700 24px/113.4% 'Nunito Sans';
    color: white;
    margin-top: 42px;
    margin-bottom: 6px;
}

p {
    font: normal 300 16px/25px 'Nunito Sans';
    color: #000000;
}

li {
    font: normal 18px/25px 'Nunito Sans';
}

button {
    font: normal 700 18px/25px 'Nunito Sans';
    color: #000000;
    border-radius: 5px;
    padding: 13px 0;
    margin: 0px 16px;
    cursor: pointer;
}

footer {
    padding: 15px;
}

/** DECLARATIONS */
.red {
    background-color: #cf3034;
    color: white;
    border: none;
}

.white {
    background: white;
    color: #cf3034;
    border: 1px solid #cf3034;
}

.header,
.impact,
.apprentis,
.temoignages,
.soutiens,
.footer {
    height: auto;
    width: 100%;
}

.menu__mobile-logo,
.menu__desktop-logo,
.burger,
.logo__simplon,
.impact__items,
.enter-red img,
.input__block img,
.caroussel__nav,
.caroussel__soutiens-nav img,
.footer__liste,
.footer__logos,
.desktop__reseaux {
    cursor: pointer;
}

/* Elements en flex row */
.menu__mobile,
.impact__container,
.caroussel__nav,
.caroussel__slide,
.caroussel__soutiens-logos,
.caroussel__soutiens-btn {
    display: flex;
}

/* Elements en flex column */
.burger,
.header__buttons,
.impact,
.temoignages,
.apprentis__card,
.apprentis__textes,
.apprentis__button,
.footer__form,
.footer__logos {
    display: flex;
    flex-direction: column;
}

.menu__mobile,
.impact,
.temoignage__titre,
.apprentis__titre {
    background: #f1f5f8;
}

.header,
.impact__items,
.temoignages,
.apprentis,
.caroussel__soutiens {
    background: white;
}

/*? MENU - NAVIGATION */
/* MENU */

.menu__desktop {
    display: none;
}

.menu__mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.burger img {
    width: 40px;
    height: 6px;
}

.burger img:nth-child(2) {
    margin: 4px 0px;
}

/* NAVIGATION */
.nav__mobile {
    width: 100%;
    height: 593px;
    /* position fixed sinon au scroll => reste en haut de la page */
    position: fixed;
    top: -490px;
    background: #f1f5f8;
    padding: 118px 152px 40px 153px;
    z-index: 1;
}

.nav__mobile ul li a {
    color: black;
}

.nav__liste {
    width: 109px;
    height: 435px;
}

.nav__liste-items {
    line-height: 24.55px;
    margin-bottom: 52px;
}

/** CLASS ANIMATIONS POUR LE JAVASCRIPT */
.opacity {
    opacity: 0;
    transition: 1s;
}

/* mise en place de la croix */
.rotate1 {
    transform: translateY(10px) rotate(45deg);
    transition: 1s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-45deg);
    transition: 1s;
}

/* descente du menu */
.nav__mobile--show {
    top: 0;
    transition: 1s;
}

/*? HEADER */

.header {
    /*! voir si pas autre solution pour ne pas cacher le logo Simplon */
    padding-top: 100px;
    padding-bottom: 30px;
}

.logo__simplon img {
    margin: 31px 0px 20px 16px;
}

.header__textes h1 {
    font-size: 1.5rem;
    color: #cf3034;
    margin: 0 16px 7px;
    text-align: left;
    line-height: 27.22px;
}

.header__paragraphe {
    font-size: 1.1rem;
    margin: 0px 16px 32px;
    line-height: 24.55px;
}

.header__buttons {
    justify-content: space-between;
    gap: 15px;
}

/* phot header cachée en version mobile, apparait au breakpoint 1246px */
.header__desktop-droite {
    display: none;
}

/*? SECTION IMPACTS */

.impact__container {
    flex-wrap: wrap;
    justify-content: center;
}

.impact__container h3 {
    margin-bottom: 12px;
    font-size: 36px;
    font-weight: 700;
    line-height: 113.4%;
}

.impact__items {
    position: relative;
    margin: 2px;
    padding: 31px 0px 111px 11px;
    width: 181px;
    height: 183px;
    line-height: 20.41px;
}

.impact__items img {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

/*! A VERIFIER CAR NE SE POSITIONNE PAS CORRECTEMENT SANS CELA */
.impact__items--4 img {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.impact__items--4 {
    background: #cf3034;
}

.impact__items--4 p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 15px 19px 50px;
}

/*? SECTION TEMOIGNAGES */

.temoignages {
    padding-bottom: 20px;
    width: 100%;
}

.guillemets-desktop {
    display: none;
}

.guillemets-mobile {
    margin-left: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.caroussel__temoignage-paragraphe {
    margin: 0px 16px 9px;
    line-height: 21.82px;
}

.caroussel__temoignage-paragraphe--bold {
    font-weight: bold;
    margin-left: 16px;
    line-height: 21.82px;
}

.simploniens {
    display: none;
}

.caroussel__nav {
    justify-content: center;
    padding-top: 20px;
}

.caroussel__slide {
    justify-content: center;
    margin: 0 40px 0;
}

.caroussel__slide :nth-child(2) {
    margin: 0 10px 0;
}

/** CLASS ANIMATIONS POUR LE JAVASCRIPT */
.displayon {
    display: block;
    animation-name: opacity1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* Animation sur apparition/disparition des témoignages */
@keyframes opacity1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.displayoff {
    display: none;
    animation-name: opacity0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes opacity0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Gras du chiffre sélectionné */
.gras {
    font-weight: bolder;
}

/*? SECTION APPRENTIS */

.apprentis {
    padding-bottom: 20px;
}

.apprentis__card,
.apprentis__texte {
    justify-content: center;
    align-items: center;
}

.apprentis__image,
.desktop {
    display: none;
}

.apprentis__image,
.mobile {
    display: block;
}

.apprentis__image .mobile img {
    max-width: 90%;
    /* height: 144px; */
}

.apprentis__button--mobile {
    display: block;
}

.apprentis__button--desktop {
    display: none;
}

.apprentis__texte-titre {
    margin: -25px 16px 9px;
    font-size: 1.1rem;
    line-height: 20.41px;
    font-weight: bolder;
    font-size: 18px;
}

.apprentis__texte-paragraphe {
    margin: 0px 16px 25px;
    font-size: 1rem;
    line-height: 18.14px;
}

/*? SECTION SOUTIENS */

.caroussel__soutiens {
    margin-bottom: 30px;
}

.caroussel__soutiens-logos {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 9px;
}

.caroussel__soutiens-logos img {
    margin: 19.96px 0;
    width: 329.39px;
    height: 50px;
}

.caroussel__soutiens-btn {
    align-items: flex-start;
    justify-content: space-between;
}

.caroussel__soutiens-nav {
    margin: 0 auto;
}

.caroussel__soutiens-nav :nth-child(2) {
    margin: 0 30px 0;
}

/*! Bouton enter refait manuellement car padding sur image Figma */
.enter-red {
    position: relative;
    width: 47px;
    height: 47px;
    object-fit: cover;
    background: #cf3034;
}

.enter-red img {
    position: absolute;
    top: 8px;
    left: 5px;
}

/** CLASS ANIMATIONS POUR LE JAVASCRIPT */

/* Animation automatique du caroussel */ 
.appear {
    display: block;
    animation: appear 4s infinite;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.disappear {
    display: none;
    animation: disappear 4s infinite;
}

@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.actif {
display: block;
}

.off {
display: none;
}

/*? SECTION FOOTERS */

.footer__desktop {
    display: none;
}

/* Liste navigation */
.footer__liste {
    margin-bottom: 52px;
}

.footer__liste ul li {
    line-height: 45px;
    font-weight: lighter;
}

.footer__liste ul li a {
    color: white;
    font-size: 16px;
}

/* Label & input + icône mail */
.footer__form label {
    margin-bottom: 15px;
    font-weight: bolder;
}

.footer__form input {
    padding: 8px 0;
    margin-bottom: 21px;
    background: #cf3034;
    border: 0.5px solid white;
    border-right: none;
    width: 95%;
    height: 30px;
}

.input__block {
    display: flex;
}

.footer__form img {
    width: 32.17px;
    height: 30px;
    object-fit: cover;
}

.footer__form input::placeholder {
    color: white;
    padding-left: 25px;
}

/* Logos bas de page */
.footer__logos {
    height: 180px;
    margin-bottom: 38px;
    justify-content: space-between;
    align-items: center;
}

/*! MEDIAQUERIES */

/* Breakpoint à 414px en min-width */
@media screen and (min-width: 414px) {
    /* diminuer la width des 3 boutons à 193px */
    button {
        width: 193px;
    }

    .header__buttons {
        flex-direction: row;
        justify-content: center;
    }

    /* bloquer la width de l'input à 315px à partir de 414px */
    .footer__form input {
        width: 315px;
    }
}

/* Breakpoint à 769px en min-width */
@media screen and (min-width: 769px) {
    /* diminnuer la width des sections temoignages apprentis et soutiens */
    .impact,
    .apprentis,
    .temoignages,
    .soutiens {
        width: 80%;
        margin: 0 auto;
    }

    .form__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__liens {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer__liens nav {
        flex: 0.8;
    }
}

/* Breakpoint à 992px en min-width */
@media screen and (min-width: 992px) {
    .menu__mobile,
    .nav__mobile {
        display: none;
    }

    .menu__desktop {
        display: block;
        max-width: 1196px;
        margin: 0 auto 37px;
        padding: 19px 10px 0px;
        height: 102px;
        border-bottom: 2px solid white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu__desktop-logo {
        flex: 1;
    }

    nav {
        flex: 2;
    }

    .nav__liste {
        width: 100%;
        height: 435px;
    }

    .nav__desktop ul {
        display: flex;
        justify-content: space-between;
        color: black;
    }

    .nav__desktop ul li a {
        color: black;
    }

    .header {
        padding-top: 0;
        display: flex;
        height: 514px;
        padding-left: 56px;
        padding-bottom: 0px;
        align-items: center;
    }

    .header__paragraphe {
        margin-bottom: 49px;
    }

    .header__desktop-droite {
        display: block;
    }

    .header__desktop-droite img {
        width: 500px;
        margin-left: 40px;
    }

    .header__texte h1 {
        font-size: 38px;
    }

    button {
        margin: 0px 0px;
    }

    .header__buttons {
        flex-direction: row;
        justify-content: flex-start;
        gap: 19px;
    }

    .header,
    .impact,
    .apprentis,
    .temoignages,
    .soutiens {
        max-width: 1196px;
        margin: 0 auto;
    }

    h2 {
        font-size: 38px;
        line-height: 43px;
    }

    .impact__container h3 {
        font-size: 64px;
        line-height: 113.4%;
    }

    .impact__items p {
        font-size: 24px;
        line-height: 113.4%;
    }

    /* Les carrés "impact" changent en width et height */
    .impact__items {
        width: 197px;
        height: 254px;
    }

    .impact__container {
        gap: 10px;
    }
    
    /* section temoignages */
    .temoignages__container {
        position: relative;
        height: 475px;
    }

    .guillemets-mobile {
        display: none;
    }

    .guillemets-desktop {
        display: block;
        margin-left: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .caroussel__temoignage {
        position: absolute;
        top: 51px;
    }

    .caroussel__temoignage-paragraphe {
        width: min(770px, 58%);
    }

    .simploniens {
        display: block;
        position: absolute;
        top: 20px;
        right: 59px;
    }

    .caroussel__nav {
        position: absolute;
        top: 400px;
        right: 90px;
    }

    /* section apprentis */
    .apprentis {
        padding-bottom: 0px;
    }

    .apprentis__card {
        position: relative;
        background: url(/assets/photos/img-apprentis_desktop.png) no-repeat
            center center/ 120%;
        height: 375px;
    }

    .apprentis__texte {
        position: absolute;
        width: 511px;
        height: 323px;
        top: 0;
        right: 0;
        background: white;
        padding: 40px;
    }

    .apprentis__texte-titre {
        font-size: 24px;
        position: relative;
        top: 40px;
    }

    .apprentis__texte-paragraphe {
        font-size: 18px;
        position: relative;
        top: 60px;
    }

    .apprentis__image .mobile {
        display: none;
    }

    .apprentis__button--mobile {
        display: none;
    }

    .apprentis__button--desktop {
        display: block;
        position: absolute;
        top: 230px;
        left: 55px;
    }

    /* Breakpoint à 1196px en max-width */
    @media screen and (min-width: 1196px) {
        .menu__desktop {
            padding-right: 0px;
            padding-left: 0px;
        }
    }

    /* Breakpoint à 1246px en max-width */
    @media screen and (min-width: 1246px) {
        .header__desktop-droite img {
            width: 578px;
        }

        .caroussel__soutiens-logos {
            height: 163px;
        }

        .caroussel__soutiens-logos img {
            height: 104px;
            width: 685.12px;
        }

        .caroussel__soutiens-btn {
            background: #f1f5f8;
            align-items: baseline;
            margin-bottom: 108.12px;
        }

        /* footer */
        .footer {
            display: none;
        }

        .footer__desktop {
            display: block;
            /* height: 351px; */
            height: auto;
            padding: 0 15px;
        }

        .footer__desktop form h4 {
            font-size: 34px;
        }

        .footer__desktop form label {
            font-size: 18px;
        }

        .formlogo__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo__simplon img {
            margin-right: 145px;
        }

        .footer__desktop-reseaux {
            display: flex;
            justify-content: center;
            margin-top: 55px;
        }

        .desktop__reseaux {
            width: 366px;
        }

        .footer__list-ul {
            display: flex;
            justify-content: center;
            margin-top: 46px;
        }

        .footer__list-ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer__list-ul li img {
            height: 28px;
            margin: 0 28px;
        }
    }
}
