/*! VERSION MOBILE-FIRST */
/** GENERAL */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body,
html {
    font-family: 'Nunito', sans-serif;
    background: #f1f5f8;
}

/** TAGS */

main {
    width: 100%;
}

h1 {
    font: normal 700 64px/113.4% 'Nunito Sans';
    color: #000000;
}

h2 {
    font: normal 700 34px/43px 'Nunito Sans';
    color: #000000;
    padding: 50px 0px 20px 16px;
}

h3 {
    font: normal 700 24px/113.4% 'Nunito Sans';
    color: #cf3034;
}

h4 {
    font: normal 700 24px/113.4% 'Nunito Sans';
    color: white;
}

p {
    font: normal 300 18px/25px 'Nunito Sans';
    color: #000000;
}

li {
    font: normal 18px/25px 'Nunito Sans';
}

button {
    font: normal 700 18px/25px 'Nunito Sans';
    color: #000000;
    border-radius: 5px;
    padding: 14px 0;
    margin: 0px 16px;
    cursor: pointer;
}

footer {
    padding: 15px;
}

/** DECLARATIONS */
.red {
    background-color: #cf3034;
    color: white;
    border: none;
}

.white {
    background: white;
    color: #cf3034;
    border: 1px solid #cf3034;
}

.header,
.impact,
.apprentis,
.temoignages,
.soutiens,
.footer {
    height: auto;
    width: 100%;
}

.menu__mobile-logo,
.burger,
.logo__simplon,
.impact__items,
.enter-red img,
.input__block img,
.caroussel__nav,
.caroussel__soutiens-nav img,
.footer__liste,
.footer__logos {
    cursor: pointer;
}

.burger,
.header__buttons,
.impact,
.temoignages,
.apprentis__card,
.apprentis__textes {
    display: flex;
    flex-direction: column;
}

.menu__mobile,
.impact,
.temoignage__titre,
.apprentis__titre {
    background: #f1f5f8;
}

.header,
.impact__items,
.temoignages,
.apprentis,
.caroussel__soutiens {
    background: white;
}

/*? MENU - NAVIGATION */
/* MENU */
.menu__mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.burger img {
    width: 40px;
    height: 6px;
}

.burger img:nth-child(2) {
    margin: 4px 0px;
}

/* NAVIGATION */
.nav__mobile {
    width: 100%;
    height: 593px;
    /* position fixed sinon au scroll => reste en haut de la page */
    position: fixed;
    top: -490px;
    background: #f1f5f8;
    padding: 118px 152px 40px 153px;
    z-index: 1;
}

.nav__mobile ul li a {
    color: black;
}

.nav__liste {
    width: 109px;
    height: 435px;
}

.nav__liste-items {
    line-height: 24.55px;
    margin-bottom: 52px;
}

/* classes crées pour les animations en Javascript */
.opacity {
    opacity: 0;
    transition: 1s;
}

.rotate1 {
    transform: translateY(10px) rotate(45deg);
    transition: 1s;
}

.rotate2 {
    transform: translateY(-10px) rotate(-45deg);
    transition: 1s;
}

.nav__mobile--show {
    top: 0;
    transition: 1s;
}

/*? HEADER */
.header {
    /*! voir si pas autre solution pour ne pas cacher le logo Simplon */
    padding-top: 100px;
    padding-bottom: 30px;
}

.logo__simplon img {
    margin: 31px 0px 20px 16px;
}

.header__textes h1 {
    font-size: 1.5rem;
    color: #cf3034;
    margin: 0 16px 7px;
    text-align: left;
    line-height: 27.22px;
}

.header__paragraphe {
    font-size: 1.1rem;
    margin: 0px 16px 32px;
    line-height: 24.55px;
}

.header__buttons {
    justify-content: space-between;
    gap: 15px;
}

/*? SECTION IMPACTS */

.impact__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.impact__container h3 {
    margin-bottom: 12px;
    font-size: 2rem;
}

.impact__items {
    position: relative;
    margin: 2px;
    padding: 31px 0px 111px 11px;
    width: 181px;
    height: 183px;
    line-height: 20.41px;
}

.impact__items img {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

/*! A VERIFIER CAR NE SE POSITIONNE PAS CORRECTEMENT SANS CELA */
.impact__items--4 img {
    position: absolute;
    bottom: 12px;
    right: 10px;
}

.impact__items--4 {
    background-color: #cf3034;
}

.impact__items--4 p {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 15px 19px 50px;
}

/*? SECTION TEMOIGNAGES */

.temoignages {
    padding-bottom: 20px;
    width: 100%;
}

.caroussel__temoignage-texte img {
    margin-left: 16px;
    margin-top: 25px;
}

.caroussel__temoignage-paragraphe {
    margin: 0px 16px 9px;
    line-height: 21.82px;
}

.caroussel__temoignage-paragraphe--bold {
    font-weight: bold;
    margin-left: 16px;
    line-height: 21.82px;
}

.caroussel__nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.caroussel__slide {
    display: flex;
    justify-content: center;
    margin: 0 40px 0;
}

.caroussel__slide :nth-child(2) {
    margin: 0 10px 0;
}

/** CLASS ANIMATIONS POUR LE JAVASCRIPT */
.displayon {
    display: block;
    animation-name: opacity1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* Animation sur apparition/disparition des témoignages */
@keyframes opacity1 {
    from {
        opacity:0;
    }
     to {
        opacity: 1;
     }
}

.displayoff {
    display: none;
    animation-name: opacity0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes opacity0 {
    from {
        opacity: 1;
    }
     to {
        opacity: 0;
     }
}

/* Gras du chiffre sélectionné */
.gras {
    font-weight: bolder;
}

/*? SECTION APPRENTIS */

.apprentis {
    padding-bottom: 20px;
}

.apprentis__card,
.apprentis__texte {
    justify-content: center;
    align-items: center;
}

.apprentis__button {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.apprentis__texte-titre {
    margin: -25px 16px 9px;
    font-size: 1.1rem;
    line-height: 20.41px;
    font-weight: bolder;
}

.apprentis__texte-paragraphe {
    margin: 0px 16px 25px;
    font-size: 1rem;
    line-height: 18.14px;
}

/*? SECTION SOUTIENS */

.caroussel__soutiens {
    margin-bottom: 30px;
}

.caroussel__soutiens-logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.caroussel__soutiens-logos img {
    margin: 19.96px 0;
}

.caroussel__soutiens-logos :nth-child(2) {
    width: 330px;
}

.caroussel__soutiens-btn {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.caroussel__soutiens-nav {
    margin: 0 auto;
}

.caroussel__soutiens-nav :nth-child(2) {
    margin: 0 30px 0;
}

/** CLASS ANIMATIONS POUR LE JAVASCRIPT */
.displayon {
    display: block;
    animation-name: opacity1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

/* Animation sur apparition/disparition des témoignages */
@keyframes opacity1 {
    from {
        opacity:0;
    }
     to {
        opacity: 1;
     }
}

.displayoff {
    display: none;
    animation-name: opacity0;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes opacity0 {
    from {
        opacity: 1;
    }
     to {
        opacity: 0;
     }
}

/*! Bouton enter refait manuellement car padding sur image Figma */
.enter-red {
    position: relative;
    width: 47px;
    height: 47px;
    object-fit: cover;
    background: #cf3034;
}

.enter-red img {
    position: absolute;
    top: 8px;
    left: 5px;
}

/*? SECTION FOOTERS */

.footer h4 {
    margin-top: 42px;
    margin-bottom: 6px;
}

.footer__liste {
    margin-bottom: 52px;
}

.footer__liste ul li {
    line-height: 45px;
    font-weight: lighter;
}

.footer__liste ul li a {
    color: white;
}

.footer__form {
    display: flex;
    flex-direction: column;
}

.footer__form label {
    margin-bottom: 15px;
    font-weight: bolder;
}

.footer__form input {
    padding: 8px 0;
    margin-bottom: 21px;
    background: #cf3034;
    border: 0.5px solid white;
    border-right: none;
    width: 90%;
    height: 30px;
}

.input__block {
    display: flex;
}

.footer__form img {
    width: 32.17px;
    height: 30px;
    object-fit: cover;
}

.footer__form input::placeholder {
    color: white;
    padding-left: 25px;
}

.footer__logos {
    height: 180px;
    margin-bottom: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
